
<h1><%= @user.name %></h1>

<div class="report">

  <iframe src="https://app.powerbi.com/view?r=<%= @user.username %>" frameborder="0" allowFullScreen="true"></iframe>

</div>


<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>